In [1]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb

> This notebook aims to push the public LB under 0.50. Certainly, the competition is not yet at its peak and there clearly remains room for improvement.

# Credits

* [First R notebook](https://www.kaggle.com/kailex/m5-forecaster-v2)
* [Python translation](https://www.kaggle.com/kneroma/m5-forecast-v2-python)

# Changes
* v5 : try to optimise the LGBM params (go below in lgbm params section to see changes)
* v4 : add df, X_train deletion before training step --> increasing train sample without memeroy issues

In [2]:
CAL_DTYPES={"event_name_1": "category", "event_name_2": "category", "event_type_1": "category", 
         "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
        "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32' }
PRICE_DTYPES = {"store_id": "category", "item_id": "category", "wm_yr_wk": "int16","sell_price":"float32" }

In [3]:
pd.options.display.max_columns = 50

In [4]:
h = 28 
max_lags = 57
tr_last = 1913
fday = datetime(2016,4, 25) 
fday

datetime.datetime(2016, 4, 25, 0, 0)

In [5]:
def create_dt(is_train = True, nrows = None, first_day = 1200):
    prices = pd.read_csv("./sell_prices.csv", dtype = PRICE_DTYPES)
    for col, col_dtype in PRICE_DTYPES.items():
        if col_dtype == "category":
            prices[col] = prices[col].cat.codes.astype("int16")
            prices[col] -= prices[col].min()
            
    cal = pd.read_csv("./calendar.csv", dtype = CAL_DTYPES)
    cal["date"] = pd.to_datetime(cal["date"])
    for col, col_dtype in CAL_DTYPES.items():
        if col_dtype == "category":
            cal[col] = cal[col].cat.codes.astype("int16")
            cal[col] -= cal[col].min()
    
    start_day = max(1 if is_train  else tr_last-max_lags, first_day)
    numcols = [f"d_{day}" for day in range(start_day,tr_last+1)]
    catcols = ['id', 'item_id', 'dept_id','store_id', 'cat_id', 'state_id']
    dtype = {numcol:"float32" for numcol in numcols} 
    dtype.update({col: "category" for col in catcols if col != "id"})
    dt = pd.read_csv("./sales_train_validation.csv", 
                     nrows = nrows, usecols = catcols + numcols, dtype = dtype)
    
    for col in catcols:
        if col != "id":
            dt[col] = dt[col].cat.codes.astype("int16")
            dt[col] -= dt[col].min()
    
    if not is_train:
        for day in range(tr_last+1, tr_last+ 28 +1):
            dt[f"d_{day}"] = np.nan
    
    dt = pd.melt(dt,
                  id_vars = catcols,
                  value_vars = [col for col in dt.columns if col.startswith("d_")],
                  var_name = "d",
                  value_name = "sales")
    
    dt = dt.merge(cal, on= "d", copy = False)
    dt = dt.merge(prices, on = ["store_id", "item_id", "wm_yr_wk"], copy = False)
    
    return dt

In [6]:
def create_fea(dt):
    lags = [7, 28, 56]
    lag_cols = [f"lag_{lag}" for lag in lags ]
    for lag, lag_col in zip(lags, lag_cols):
        dt[lag_col] = dt[["id","sales"]].groupby("id")["sales"].shift(lag)

    wins = [7, 28, 56]
    for win in wins :
        for lag,lag_col in zip(lags, lag_cols):
            dt[f"rmean_{lag}_{win}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(win).mean())

    
    
    date_features = {
        
        "wday": "weekday",
        "week": "weekofyear",
        "month": "month",
        "quarter": "quarter",
        "year": "year",
        "mday": "day",
#         "ime": "is_month_end",
#         "ims": "is_month_start",
    }
    
#     dt.drop(["d", "wm_yr_wk", "weekday"], axis=1, inplace = True)
    
    for date_feat_name, date_feat_func in date_features.items():
        if date_feat_name in dt.columns:
            dt[date_feat_name] = dt[date_feat_name].astype("int16")
        else:
            dt[date_feat_name] = getattr(dt["date"].dt, date_feat_func).astype("int16")

In [7]:
FIRST_DAY = 1 # If you want to load all the data set it to '1' -->  Great  memory overflow  risk !

In [8]:
%%time

df = create_dt(is_train=True, first_day= FIRST_DAY)
df.shape

CPU times: user 16.8 s, sys: 2.48 s, total: 19.2 s
Wall time: 19.2 s

(46027957, 22)

In [9]:
df.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_1,12.0,2011-01-29,11101,2,1,1,2011,0,0,0,0,0.0,0.0,0.0,0.46
1,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_2,15.0,2011-01-30,11101,3,2,1,2011,0,0,0,0,0.0,0.0,0.0,0.46
2,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_3,0.0,2011-01-31,11101,1,3,1,2011,0,0,0,0,0.0,0.0,0.0,0.46
3,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_4,0.0,2011-02-01,11101,5,4,2,2011,0,0,0,0,1.0,1.0,0.0,0.46
4,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_5,0.0,2011-02-02,11101,6,5,2,2011,0,0,0,0,1.0,0.0,1.0,0.46

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46027957 entries, 0 to 46027956
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       int16
 2   dept_id       int16
 3   store_id      int16
 4   cat_id        int16
 5   state_id      int16
 6   d             object
 7   sales         float32
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       int16
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  int16
 15  event_type_1  int16
 16  event_name_2  int16
 17  event_type_2  int16
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
 21  sell_price    float32
dtypes: datetime64[ns](1), float32(5), int16(14), object(2)
memory usage: 3.4+ GB

In [11]:
%%time

create_fea(df)
df.shape

CPU times: user 3min 39s, sys: 11 s, total: 3min 49s
Wall time: 3min 49s

(46027957, 37)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46027957 entries, 0 to 46027956
Data columns (total 37 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       int16
 2   dept_id       int16
 3   store_id      int16
 4   cat_id        int16
 5   state_id      int16
 6   d             object
 7   sales         float32
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       int16
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  int16
 15  event_type_1  int16
 16  event_name_2  int16
 17  event_type_2  int16
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
 21  sell_price    float32
 22  lag_7         float32
 23  lag_28        float32
 24  lag_56        float32
 25  rmean_7_7     float32
 26  rmean_28_7    float32
 27  rmean_56_7    float32
 28  rmean_7_28    float32
 29  rmean_28_28   float32
 30  rmean_56_28   float32
 31  rmean_7_56    float32
 32  rmean_28_56   float32
 33  rmean_56_56   float32
 34  week          int16
 35  quarter       int16
 36  mday          int16
dtypes: datetime64[ns](1), float32(17), int16(17), object(2)
memory usage: 5.7+ GB

In [13]:
df.head()

,id,item_id,dept_id,store_id,cat_id,state_id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,lag_7,lag_28,lag_56,rmean_7_7,rmean_28_7,rmean_56_7,rmean_7_28,rmean_28_28,rmean_56_28,rmean_7_56,rmean_28_56,rmean_56_56,week,quarter,mday
0,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_1,12.0,2011-01-29,11101,2,1,1,2011,0,0,0,0,0.0,0.0,0.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,29
1,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_2,15.0,2011-01-30,11101,3,2,1,2011,0,0,0,0,0.0,0.0,0.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,30
2,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_3,0.0,2011-01-31,11101,1,3,1,2011,0,0,0,0,0.0,0.0,0.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1,31
3,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_4,0.0,2011-02-01,11101,5,4,2,2011,0,0,0,0,1.0,1.0,0.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1,1
4,HOBBIES_1_008_CA_1_validation,7,0,0,0,0,d_5,0.0,2011-02-02,11101,6,5,2,2011,0,0,0,0,1.0,0.0,1.0,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,1,2

In [14]:
df.dropna(inplace = True)
df.shape

(42644016, 37)

In [15]:
cat_feats = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + ["event_name_1", "event_name_2", "event_type_1", "event_type_2"]
useless_cols = ["id", "date", "sales","d", "wm_yr_wk", "weekday"]
train_cols = df.columns[~df.columns.isin(useless_cols)]
X_train = df[train_cols]
y_train = df["sales"]

In [ ]:
# train_data = lgb.Dataset(X_train, label = y_train, categorical_feature=cat_feats, free_raw_data=False)
# fake_valid_inds = np.random.choice(len(X_train), 1000000, replace = False)
# fake_valid_data = lgb.Dataset(X_train.iloc[fake_valid_inds], label = y_train.iloc[fake_valid_inds],categorical_feature=cat_feats,
#                              free_raw_data=False)   # This is just a subsample of the training set, not a real validation set !

In [16]:
%%time

np.random.seed(777)

fake_valid_inds = np.random.choice(X_train.index.values, 2_000_000, replace = False)
train_inds = np.setdiff1d(X_train.index.values, fake_valid_inds)
train_data = lgb.Dataset(X_train.loc[train_inds] , label = y_train.loc[train_inds], 
                         categorical_feature=cat_feats, free_raw_data=False)
fake_valid_data = lgb.Dataset(X_train.loc[fake_valid_inds], label = y_train.loc[fake_valid_inds],
                              categorical_feature=cat_feats,
                 free_raw_data=False)# This is a random sample, we're not gonna apply any time series train-test-split tricks here!

CPU times: user 8.84 s, sys: 532 ms, total: 9.37 s
Wall time: 9.37 s

In [17]:
del df, X_train, y_train, fake_valid_inds,train_inds ; gc.collect()

175

In [18]:
params = {
        "objective" : "poisson",
        "metric" :"rmse",
        "force_row_wise" : True,
        "learning_rate" : 0.075,
#         "sub_feature" : 0.8,
        "sub_row" : 0.75,
        "bagging_freq" : 1,
        "lambda_l2" : 0.1,
#         "nthread" : 4
        "metric": ["rmse"],
    'verbosity': 1,
    'num_iterations' : 1200,
    'num_leaves': 128,
    "min_data_in_leaf": 100,
}

In [19]:
%%time

m_lgb = lgb.train(params, train_data, valid_sets = [fake_valid_data], verbose_eval=20)

/opt/conda/lib/python3.7/site-packages/lightgbm/engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[20]	valid_0's rmse: 3.29815
[40]	valid_0's rmse: 2.68392
[60]	valid_0's rmse: 2.52223
[80]	valid_0's rmse: 2.47665
[100]	valid_0's rmse: 2.46303
[120]	valid_0's rmse: 2.45345
[140]	valid_0's rmse: 2.44125
[160]	valid_0's rmse: 2.43303
[180]	valid_0's rmse: 2.42648
[200]	valid_0's rmse: 2.42009
[220]	valid_0's rmse: 2.41434
[240]	valid_0's rmse: 2.40991
[260]	valid_0's rmse: 2.40486
[280]	valid_0's rmse: 2.40108
[300]	valid_0's rmse: 2.39702
[320]	valid_0's rmse: 2.39389
[340]	valid_0's rmse: 2.39019
[360]	valid_0's rmse: 2.38793
[380]	valid_0's rmse: 2.38331
[400]	valid_0's rmse: 2.37986
[420]	valid_0's rmse: 2.37653
[440]	valid_0's rmse: 2.37433
[460]	valid_0's rmse: 2.37249
[480]	valid_0's rmse: 2.37074
[500]	valid_0's rmse: 2.369
[520]	valid_0's rmse: 2.36791
[540]	valid_0's rmse: 2.36629
[560]	valid_0's rmse: 2.36301
[580]	valid_0's rmse: 2.36046
[600]	valid_0's rmse: 2.35894
[620]	valid_0's rmse: 2.35697
[640]	valid_0's rmse: 2.35514
[660]	valid_0's rmse: 2.35329
[680]	valid_0's rmse: 2.35164
[700]	valid_0's rmse: 2.34948
[720]	valid_0's rmse: 2.34801
[740]	valid_0's rmse: 2.34668
[760]	valid_0's rmse: 2.34511
[780]	valid_0's rmse: 2.34392
[800]	valid_0's rmse: 2.34307
[820]	valid_0's rmse: 2.34173
[840]	valid_0's rmse: 2.34079
[860]	valid_0's rmse: 2.34007
[880]	valid_0's rmse: 2.33871
[900]	valid_0's rmse: 2.33791
[920]	valid_0's rmse: 2.33629
[940]	valid_0's rmse: 2.33542
[960]	valid_0's rmse: 2.33449
[980]	valid_0's rmse: 2.33355
[1000]	valid_0's rmse: 2.33168
[1020]	valid_0's rmse: 2.33093
[1040]	valid_0's rmse: 2.33038
[1060]	valid_0's rmse: 2.32925
[1080]	valid_0's rmse: 2.32768
[1100]	valid_0's rmse: 2.32698
[1120]	valid_0's rmse: 2.32621
[1140]	valid_0's rmse: 2.3252
[1160]	valid_0's rmse: 2.32413
[1180]	valid_0's rmse: 2.32376
[1200]	valid_0's rmse: 2.32334
CPU times: user 8h 32min 20s, sys: 9min 20s, total: 8h 41min 41s
Wall time: 45min 55s

In [20]:
m_lgb.save_model("model.lgb")

In [21]:
%%time

alphas = [1.028, 1.023, 1.018]
weights = [1/len(alphas)]*len(alphas)
sub = 0.

for icount, (alpha, weight) in enumerate(zip(alphas, weights)):

    te = create_dt(False)
    cols = [f"F{i}" for i in range(1,29)]

    for tdelta in range(0, 28):
        day = fday + timedelta(days=tdelta)
        print(tdelta, day)
        tst = te[(te.date >= day - timedelta(days=max_lags)) & (te.date <= day)].copy()
        create_fea(tst)
        tst = tst.loc[tst.date == day , train_cols]
        te.loc[te.date == day, "sales"] = alpha*m_lgb.predict(tst) # magic multiplier by kyakovlev



    te_sub = te.loc[te.date >= fday, ["id", "sales"]].copy()
    #te_sub.loc[te.date >= fday+ timedelta(days=h), "id"] = te_sub.loc[te.date >= fday+timedelta(days=h), "id"].str.replace("validation$", "evaluation")
    te_sub["F"] = [f"F{rank}" for rank in te_sub.groupby("id")["id"].cumcount()+1]
    te_sub = te_sub.set_index(["id", "F" ]).unstack()["sales"][cols].reset_index()
    te_sub.fillna(0., inplace = True)
    te_sub.sort_values("id", inplace = True)
    te_sub.reset_index(drop=True, inplace = True)
    te_sub.to_csv(f"submission_{icount}.csv",index=False)
    if icount == 0 :
        sub = te_sub
        sub[cols] *= weight
    else:
        sub[cols] += te_sub[cols]*weight
    print(icount, alpha, weight)


sub2 = sub.copy()
sub2["id"] = sub2["id"].str.replace("validation$", "evaluation")
sub = pd.concat([sub, sub2], axis=0, sort=False)
sub.to_csv("submission.csv",index=False)

0 2016-04-25 00:00:00
1 2016-04-26 00:00:00
2 2016-04-27 00:00:00
3 2016-04-28 00:00:00
4 2016-04-29 00:00:00
5 2016-04-30 00:00:00
6 2016-05-01 00:00:00
7 2016-05-02 00:00:00
8 2016-05-03 00:00:00
9 2016-05-04 00:00:00
10 2016-05-05 00:00:00
11 2016-05-06 00:00:00
12 2016-05-07 00:00:00
13 2016-05-08 00:00:00
14 2016-05-09 00:00:00
15 2016-05-10 00:00:00
16 2016-05-11 00:00:00
17 2016-05-12 00:00:00
18 2016-05-13 00:00:00
19 2016-05-14 00:00:00
20 2016-05-15 00:00:00
21 2016-05-16 00:00:00
22 2016-05-17 00:00:00
23 2016-05-18 00:00:00
24 2016-05-19 00:00:00
25 2016-05-20 00:00:00
26 2016-05-21 00:00:00
27 2016-05-22 00:00:00
0 1.028 0.3333333333333333
0 2016-04-25 00:00:00
1 2016-04-26 00:00:00
2 2016-04-27 00:00:00
3 2016-04-28 00:00:00
4 2016-04-29 00:00:00
5 2016-04-30 00:00:00
6 2016-05-01 00:00:00
7 2016-05-02 00:00:00
8 2016-05-03 00:00:00
9 2016-05-04 00:00:00
10 2016-05-05 00:00:00
11 2016-05-06 00:00:00
12 2016-05-07 00:00:00
13 2016-05-08 00:00:00
14 2016-05-09 00:00:00
15 2016-05-10 00:00:00
16 2016-05-11 00:00:00
17 2016-05-12 00:00:00
18 2016-05-13 00:00:00
19 2016-05-14 00:00:00
20 2016-05-15 00:00:00
21 2016-05-16 00:00:00
22 2016-05-17 00:00:00
23 2016-05-18 00:00:00
24 2016-05-19 00:00:00
25 2016-05-20 00:00:00
26 2016-05-21 00:00:00
27 2016-05-22 00:00:00
1 1.023 0.3333333333333333
0 2016-04-25 00:00:00
1 2016-04-26 00:00:00
2 2016-04-27 00:00:00
3 2016-04-28 00:00:00
4 2016-04-29 00:00:00
5 2016-04-30 00:00:00
6 2016-05-01 00:00:00
7 2016-05-02 00:00:00
8 2016-05-03 00:00:00
9 2016-05-04 00:00:00
10 2016-05-05 00:00:00
11 2016-05-06 00:00:00
12 2016-05-07 00:00:00
13 2016-05-08 00:00:00
14 2016-05-09 00:00:00
15 2016-05-10 00:00:00
16 2016-05-11 00:00:00
17 2016-05-12 00:00:00
18 2016-05-13 00:00:00
19 2016-05-14 00:00:00
20 2016-05-15 00:00:00
21 2016-05-16 00:00:00
22 2016-05-17 00:00:00
23 2016-05-18 00:00:00
24 2016-05-19 00:00:00
25 2016-05-20 00:00:00
26 2016-05-21 00:00:00
27 2016-05-22 00:00:00
2 1.018 0.3333333333333333
CPU times: user 2h 40min 54s, sys: 36.1 s, total: 2h 41min 30s
Wall time: 2h 27min 46s

In [22]:
sub.head(10)

F,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,FOODS_1_001_CA_1_validation,1.172732,1.082360,1.057848,0.892364,1.313650,1.531054,1.664270,1.311492,1.291189,1.240466,1.271041,1.419470,1.908213,1.612398,1.364148,1.180457,1.179935,1.172278,1.311121,1.825757,1.705772,1.213658,1.101400,1.103116,1.117411,1.328503,1.769627,1.773553
1,FOODS_1_001_CA_2_validation,1.113458,1.277348,1.247010,1.696321,1.559244,2.082495,2.124656,1.233420,1.220574,1.285464,1.347530,1.539125,2.373430,2.039387,1.504792,1.463194,1.493214,1.491073,1.716672,2.567646,2.458251,1.618827,1.521666,1.545770,1.567643,1.809363,2.866079,2.571477
2,FOODS_1_001_CA_3_validation,1.536097,1.464191,1.367922,1.331969,1.404772,1.779654,2.543668,1.613948,1.719472,1.509068,1.679601,1.783642,2.500629,2.282980,1.956491,1.892206,1.790933,1.808479,1.982689,2.700970,2.859249,2.032719,2.016818,1.900287,1.910478,2.062788,2.969723,3.168315
3,FOODS_1_001_CA_4_validation,0.447492,0.369359,0.387816,0.393536,0.530757,0.533276,0.660186,0.545033,0.596171,0.598256,0.590082,0.592873,0.582153,0.466355,0.500789,0.516615,0.560317,0.557729,0.598886,0.653093,0.650797,0.557691,0.517760,0.549830,0.554865,0.628864,0.716912,0.708785
4,FOODS_1_001_TX_1_validation,0.240550,0.226200,0.218275,0.223737,0.202774,0.197288,0.276107,0.733618,0.723860,0.727369,0.743691,0.827943,0.841526,0.780041,0.792434,0.768673,0.739038,0.784627,0.801026,0.870754,0.817630,0.628781,0.566897,0.553172,0.542133,0.649988,0.744834,0.749450
5,FOODS_1_001_TX_2_validation,0.594521,0.558432,0.560036,0.530084,0.503121,0.577538,0.740151,0.661762,0.686929,0.638740,0.619674,0.752132,0.774778,0.751059,0.727406,0.677364,0.713692,0.723621,0.841574,0.922666,0.952750,0.715939,0.664401,0.668163,0.679236,0.775024,0.905339,0.888898
6,FOODS_1_001_TX_3_validation,0.567371,0.476442,0.482351,0.608109,0.610505,0.581538,0.700628,0.664904,0.702690,0.685607,0.757220,0.793504,0.807308,0.688792,0.727357,0.641471,0.742211,0.736030,0.793905,0.873421,0.852079,0.686681,0.628132,0.642117,0.659968,0.744454,0.843171,0.789761
7,FOODS_1_001_WI_1_validation,0.384341,0.505482,0.458001,0.480706,0.571971,1.154854,1.062090,0.816000,0.761244,0.738394,0.912290,1.019294,1.235133,0.978070,0.827261,0.825199,0.855092,0.883324,1.005084,1.367564,1.321819,0.861909,0.852042,0.887937,0.923423,1.102569,1.669952,1.426541
8,FOODS_1_001_WI_2_validation,0.393060,0.472693,0.448191,0.420157,0.442680,0.426494,0.550312,0.557625,0.633794,0.613836,0.623586,0.717440,0.795383,0.560032,0.627104,0.584058,0.665310,0.644696,0.678807,0.843282,0.809279,0.610271,0.606202,0.566769,0.577617,0.674061,0.749067,0.704448
9,FOODS_1_001_WI_3_validation,0.313378,0.308539,0.313266,0.324971,0.387020,0.489753,0.533104,0.545322,0.606880,0.561466,0.613761,0.697568,0.572729,0.515482,0.516044,0.514503,0.530041,0.556230,0.638380,0.688355,0.672382,0.510229,0.505560,0.510734,0.540583,0.636255,0.680005,0.615103

In [23]:
sub.id.nunique(), sub["id"].str.contains("validation$").sum()

(60980, 30490)

In [24]:
sub.shape

(60980, 29)

In [ ]:
#!kaggle competitions submit -c m5-forecasting-accuracy -f submission.csv -m "20200623(2) First public notebook under 0.50 added more lags & windows" # 0.74964